numpy
tqdm
matplotlib
dill
pandas
seaborn
pyarrow
torch
zarr
kornia

# nuScenes devkit
nuscenes-devkit==1.1.9

# Lyft Level 5 devkit
protobuf==3.19.4
l5kit==1.5.0

# Development
black
isort
pytest
pytest-xdist
twine
build
